html {
  background-color: rgb(41,41,41);
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

/* Top navbar styling */
/* <----  Start ----> */
.header-title {
  font-size: 6em;
  position: relative;
  display: flex;
  flex-direction: row;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(65, 65, 65);
}

#name {
  height: 8.2em;
  width: 100%;
  letter-spacing: 3px;
  padding-top: 1.1em;
  /* margin-top: 20vh; */
  position: absolute;
  background-color: rgb(65, 65, 65);
  color: rgb(202, 202, 202);
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(249, 156, 23, 60%);
  /* box-shadow: 0px 10px 10px rgba(255, 255, 255, 60%); */
  transition: 1s;
}

#name-hovered {
  height: 8.8em;
  width: 100%;
  letter-spacing: 0px;
  padding-top: 1.55em;
  position: absolute;
  background-color: rgb(65, 65, 65);
  color: rgb(202, 202, 202);
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 0px 13px rgba(249, 156, 23, 100%);
  /* box-shadow: 0px 10px 10px rgba(255, 255, 255, 60%); */
  transition: 1s;
}

.first-letters {
  margin-left: 2vw;
}

.highlight {
  color: rgb(249,156,23);
  font-weight: 200;
  letter-spacing: 3px;
  outline: none;
  /* transition: 0.3s; */
}

.highlight-bold {
  color: rgb(249,156,23);
  font-weight: 200;
  letter-spacing: 0px;
  transition: 1.3s;
}

.greyed-out-letters {
  font-weight: 200;
  letter-spacing: 3px;
  transition: 1s ease-out;
}

.greyed-out-letters-unbold {
  font-weight: 200;
  letter-spacing: -55px;
  color: rgb(126, 126, 126);
  opacity: 0;
  transition: 1s ease-out;
  outline: none;
}

#info {
  position: relative;
  margin-top: 16vh;
  padding-bottom: 1vh;
  color: white;
  font-size: 1.45em;
  letter-spacing: 2px;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: 0.5s;
}

.infos {
  margin-left: 10vh;
  margin-right: 10vh;
}
/* <----  End   ----> */

/* Cards styling */
/* <----  Start ----> */
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 22vh;
  height: 55vh;
  width: 95vw;
  margin-left: 2.5vw;
  transition: 1s;
}

.cards-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#education-card {
  position: relative;
  box-shadow: -10px -10px 0px 10px rgba(249, 156, 23, 35%);
  transition: 1.5s;
}

#projects-card {
  position: relative;
  box-shadow: 10px -10px 0px 10px rgba(249, 156, 23, 35%);
  transition: 1.5s;
}

#skills-card {
  position: relative;
  box-shadow: 10px 10px 0px 10px rgba(249, 156, 23, 35%);
  transition: 1.5s;
}

#experience-card {
  position: relative;
  box-shadow: -10px 10px 0px 10px rgba(249, 156, 23, 35%);
  transition: 1.5s;
}

.cards {
  position: relative;
  height: 8vh;
  width: 19vw;
  border-radius: 20px;
  /* background-color: rgb(51,51,51); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .4s;
  z-index: 22;
}

#education-card-cards-hovered {
  position: relative !important;
  height: 50vh !important;
  width: 45vw !important;
  border-radius: 20px !important;
  background-color: rgb(51,51,51) !important;
  box-shadow: 0px 0px 14px rgba(249,156,23, 80%) !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  border: 3px solid rgb(249,156,23);
  cursor: pointer !important;
  background-image: url(./frontend/assets/super_wario.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 1.4s;
  z-index: 24;
}

#projects-card-cards-hovered {
  position: relative !important;
  height: 50vh !important;
  width: 45vw !important;
  border-radius: 20px !important;
  background-color: rgb(22, 22, 22) !important;
  box-shadow: 0px 0px 14px rgba(249,156,23, 80%) !important;
  border: 3px solid rgb(249,156,23);
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  cursor: pointer !important;
  background-image: url(./frontend/assets/super_wario.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 1.4s;
  z-index: 24;
}

#skills-card-cards-hovered {
  position: relative !important;
  height: 50vh !important;
  width: 45vw !important;
  border-radius: 20px !important;
  background-color: rgb(22, 22, 22) !important;
  box-shadow: 0px 0px 14px rgba(249,156,23, 80%) !important;
  border: 3px solid rgb(249,156,23);
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  cursor: pointer !important;
  background-image: url(./frontend/assets/super_wario.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 1.4s;
  z-index: 24;
}

#experience-card-cards-hovered {
  position: relative !important;
  height: 50vh !important;
  width: 45vw !important;
  border-radius: 20px !important;
  background-color: rgb(22, 22, 22) !important;
  box-shadow: 0px 0px 14px rgba(249,156,23, 80%) !important;
  border: 3px solid rgb(249,156,23);
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  cursor: pointer !important;
  background-image: url(./frontend/assets/super_wario.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 1.4s;
  z-index: 24;
}

#education-card-cards-hovered p {
  display: none;
}

#projects-card-cards-hovered p {
  display: none;
}

.cards-text-projects {
  /* border-bottom: 2px solid rgba(204, 204, 204, 0.5);
  border-left: 2px solid rgba(204, 204, 204, 0.5); */
}

.cards p {
  text-align: center;
  font-size: 2.5vh;
  color: rgb(202, 202, 202, 0.9);
  letter-spacing: 2px;
  font-weight: 400;
  z-index: 2;
  margin-right: 0.4vw;
  padding: 2.75vh;
}
/* <----  End   ----> */

/* Expanded Cards styling */
/* <----  Start ----> */
.expand-button {
  height: 100%;
  width: 100%;
}

.shrink-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 7vh;
  position: absolute;
  width: 100%;
  transition: 1s;
  z-index: 50;
}

.shrink-button-expanded {
  height: 12vh;
}

.shrink-button-expanded .close-button {
  width: 12.5vw;
  transition: 1s;
}

.shrink-button-expanded .close-icon {
  font-size: 2.8vw;
  transition: 1s;
}

.close-button {
  width: 10vw;
  font-size: 16px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
}

.close-icon {
  font-size: 2vw;
  transition: 1s;
  color: rgb(249,156,23);
}
/* <----  End   ----> */

/* Expanded Cards styling */
/* <----  Start ----> */
#dim-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6)
}

.education-card-expanded {
  position: absolute;
  height: 80vh;
  width: 80vw;
  top: 0vh;
  left: 10vw;
  background-color: rgb(82, 82, 82);
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 100%);
  transition: 2s;
}
/* Card toggling */
/* <----  Start ----> */
#toggle-education-button {
  background-color: rgb(255, 255, 255, 0%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 24;
  color: red;
}

#toggle-project-button {
  background-color: rgb(255, 255, 255, 0%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 24;
  color: red;
}

#toggle-skills-button {
  background-color: rgb(255, 255, 255, 0%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 24;
  color: red;
}

#toggle-experience-button {
  background-color: rgb(255, 255, 255, 0%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 24;
  color: red;
}

#new-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color:rgb(202, 202, 202);
  z-index: 9999;
  transition: 3s;
}

#icons {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

#right-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  height: 100%;
  width: 8vw;
  border: none;
  background-color: inherit;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: 0.25s;
}

#right-icon:hover {
  background-color: rgb(54, 50, 50);
  box-shadow: -2px 0px 8px rgb(255, 255, 255, 80%);
  cursor: pointer;
  width: 14vw;
  transition: 0.5s;
}

#left-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  height: 100%;
  width: 8vw;
  border: none;
  background-color: inherit;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: 0.25s;
}

#left-icon:hover {
  background-color: rgb(54, 50, 50);
  box-shadow: 2px 0px 8px rgb(255, 255, 255, 80%);
  cursor: pointer;
  width: 14vw;
  transition: 0.5s;
}

.right-arrow-icon {
  color: rgba(249,156,23, 80%);
  font-size: 2.44em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-arrow-icon {
  color: rgba(249,156,23, 80%);
  font-size: 2.44em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#expanded {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: white;
  z-index: 9999;
  transition: 3s;
}
/* <----  End   ----> */

/* Display none toggle */
/* <----  Start ----> */
.hide {
  transition: 1s;
  /* display: none; */
  font-weight: 100;
}

.reveal {
  display: block;
}
/* <----  End   ----> */